
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
    color: #006400;
    margin: 0;
}

.container {
    width: 400px;
    background-color: #e0eee8;
    padding: 20px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #006400;
}

label {
    display: block;
    margin: 10px 0;
    color: #006400;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #006400;
    border-radius: 8px;
}
button {
    width: 48%;
    padding: 10px;
    background-color: #006400;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin: 0;
}

    button:last-child {
        margin-right: 0;
    }

    button:hover {
        background-color: #00a86b;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .form h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }*/