@page
@model VirtualPetAdoptionCenter.Web.Pages.AllPetsModel


<head>
    <link rel="stylesheet" href="~/css/PetStyle.css" />
</head>

<section class="articles">
    @foreach (var pet in Model.Pets)
    {
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="@pet.Image" alt="" />
                </figure>
                <div class="article-body">
                    <h2>@pet.Name</h2>
                    <p>@pet.Description</p>
                </div>
            </div>
        </article>
    }
</section>
