
@page
@model VirtualPetAdoptionCenter.Web.Pages.MyPetsModel

<h1>My Pets</h1>

<head>
    <link rel="stylesheet" href="~/css/PetStyle.css" />
</head>

<nav>
    <ul>
        <li><a href="/AllPets">Home</a></li>
        <li><a href="/MyPets">MyPets</a></li>
        <li><a href="/Account">Account</a></li>
    </ul>
</nav>

<section class="articles">
    @foreach (var pet in Model.Pets)
    {
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="@pet.Image" alt="" />
                </figure>
                <div class="article-body">
                    <h2>@pet.Name</h2>
                    <p>@pet.Description</p>
                </div>
            </div>
        </article>
    }
</section>
